*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    background-image: linear-gradient(180deg, rgba(192,153,116,255), rgba(209,164,127,255)) ;   
    border-radius: 30px;
    box-shadow: 1px 1px 50px 2px rgba(192,153,116,255);
    width: auto;
    height: auto;
    overflow: hidden;
}
img{
    width: 85%;
    height: auto;
}
.login h1{
    font-size: calc(10vh * .8);
    font-weight: 200;
    color: rgb(21, 37, 37);
}
.inp{
    width: 100%;
    border: none;
    padding: calc(2vh * 1);
    border-radius: 60px;
    box-shadow: 2px 4px 15px 4px rgba(0,0,0,0.25);
    outline: 1;
    outline-color: wheat;
    outline-offset: 2.4px;
    outline-style:solid;
}
.btn1{
    width: auto;
    height: auto;
    border: none;
    border-radius: 60px;
    font-weight: 500;
    padding: 2.5% 7%;
    text-align: center;
    background-color: rgb(21, 37, 37);
    color: rgba(192,153,116,255);
    box-shadow: 2px 4px 15px 4px rgba(0,0,0,0.25);
    outline-color: rgb(21, 37, 37);
    outline-offset: 1.4px;
    outline-style:solid;
    transition: .3s ease-in-out;
}
.btn1:hover{
    background-color: rgba(30, 55, 66, 0.404);
    color: #000000;
    font-weight: 500;
    outline-color: rgba(30, 55, 66, 0.404);
    outline-offset: 1.099px;
    outline-style:solid;
    transform: scale(1.075);
}
.container span img{
    width: calc(3.5vh*2);
    filter: contrast(70%);
    border-radius: 100%;
}
.container span img:hover{
    filter: contrast(120%);
    transform: scale(1.1);
    filter: opacity(1) drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

